        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        
        form {
            margin-bottom: 30px;
        }
        
        input {
            margin: 5px 0;
            padding: 5px;
        }
        
        .wazne {
            background-color: #fff3cd;
        }
        
        .blad {
            border: 2px solid red;
        }